<html>
	<body>
		Welcome <%=@email%>,
		<p>
			You have been invited to join the Company.<br/>
			Keep you posted for further news.<br/>
			Stay in touch!
		</p>
		<p>
			Team,<br/>
			Diana Thai
		</p>
	</body>
</html>